


/* .badge {
    background-color: #001f3f !important; 
    color: white;
    padding: 0.5em 1em;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
} */
