{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid bg-gray-200 full-height-bg top-padding">
    <h1 class="mb-4 roboto">Add Company</h1>

    <!-- Popup to enter company website -->
    <button id="fetchCompanyDataBtn" class="btn btn-primary">Fetch Data from Website</button>

    <form method="post" id="addCompanyForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Company</button>
    </form>
</div>

<!-- Modal for entering website -->
<div id="companyModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Enter Company Website</h2>
        <input type="text" id="companyWebsiteInput" placeholder="https://example.com">
        <button id="fetchDataBtn">Fetch Data</button>
    </div>
</div>


{% block postload_js %}
{% endblock %}

{% endblock %}