{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid full-height-bg top-padding bg-gray-200">
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h1 class="project-primary-color mb-0">Contact Details</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-end mb-4">
                    <div class="col-auto">
                        <a href="{% url 'crm:company_detail' pk=contact.company.pk %}#contacts" class="btn btn-green">
                            <i class="fas fa-arrow-left"></i> Go Back
                        </a>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row pb-3">
                            <div class="col">
                                <h2 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h2>
                            </div>
                            <div class="col text-end">
                                {% if contact.is_primary_contact %}
                                <span class="badge rounded-pill text-bg-primary me-1">Primary</span>
                                {% endif %}
                                {% if contact.is_travel_booker_contact %}
                                <span class="badge rounded-pill text-bg-success me-1">Travel Booker</span>
                                {% endif %}
                                {% if contact.is_traveller_contact %}
                                <span class="badge rounded-pill text-bg-info me-1">Traveller</span>
                                {% endif %}
                                {% if contact.is_vip_traveller_contact %}
                                <span class="badge rounded-pill text-bg-warning me-1">VIP</span>
                                {% endif %}
                            </div>
                        </div>
                        <p><strong>Company:</strong> {{ contact.company.company_name }}</p>
                        <p><strong>Job Title:</strong> {{ contact.job_title }}</p>
                        <p><strong>Department:</strong> {{ contact.department }}</p>
                        <p><strong>Email:</strong> {{ contact.email }}</p>
                        <p><strong>Phone:</strong> {{ contact.phone }}</p>
                        {% if contact.notes %}
                        <h4 class="mt-4">Notes:</h4>
                        <p>{{ contact.notes|linebreaks }}</p>
                        {% endif %}
                        <div class="mt-4 d-flex justify-content-end">
                            {% if user.user_type == 'admin' or user.user_type == 'sales' %}
                            <a href="{% url 'crm:edit_contact' pk=contact.id %}" class="btn btn-green me-2">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <form action="{% url 'crm:confirm_delete_contact' pk=contact.id %}" method="post"
                                style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postload_js %}
<script src="{% static 'js/crm_script.js' %}"></script>
{% endblock %}