{% extends "base.html" %}
{% load static %}
{% load crm_tags %}

{% block extra_title %}- Add Company Notes{% endblock %}

{% block content %}
<section id="add-company-notes" class="bg-gray-200">
    <div class="container-fluid top-padding roboto full-height-bg">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h1 class="project-primary-color mb-0">Add Company Notes for {{ company.company_name }}</h1>
            </div>
        </div>

        <div class="row justify-content-center pb-5">
            <div class="col-xl-10 col-lg-11 col-md-12">
                <div class="row justify-content-end py-4">
                    <div class="col-auto">
                        <a href="{% url 'crm:company_detail_with_tab' pk=company.pk active_tab='notes' %}"
                            class="btn btn-green">
                            <i class="fas fa-arrow-left"></i> Go Back
                        </a>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-body">
                        <form method="post" action="#" id="addCompanyNotesForm">
                            {% csrf_token %}
                            {% for field_pair in field_pairs %}
                            <div class="row">
                                {% for field in field_pair %}
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label
                                            }}</label>
                                        {{ field|add_class:"form-control" }}
                                        {% if field.help_text %}
                                        <div class="form-text text-muted">{{ field.help_text }}</div>
                                        {% endif %}
                                        {% if field.errors %}
                                        <div class="alert alert-danger">
                                            {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                                {% if field_pair|length == 1 %}
                                <!-- If there's only one field in the pair, add an empty column for alignment -->
                                <div class="col-md-6"></div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-green-inverse btn-lg">Add Company Notes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postload_js %}
<script src="{% static 'js/crm_script.js' %}"></script>
{% endblock %}