{% extends "base.html" %}
{% load static %}
{% load crm_tags %}

{% block extra_title %}- Add Contact{% endblock %}

{% block content %}
<section id="add-contact" class="bg-gray-200">
    <div class="container top-padding roboto full-height-bg">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h1 class="project-primary-color mb-0">Add Contact for {{ company.company_name }}</h1>
            </div>
        </div>


        <div class="row justify-content-center pb-5">
            <div class="col-md-8">
                <div class="row justify-content-end py-4">
                    <div class="col-auto">
                        <a href="{% url 'crm:company_detail_with_tab' pk=company.pk active_tab='contacts' %}"
                            class="btn btn-green">
                            <i class="fas fa-arrow-left"></i> Go Back
                        </a>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Add Contact</h2>

                        <form method="post" action="#" id="addContactForm">
                            {% csrf_token %}
                            {% for field in form %}
                            {% if field.name in 'is_primary_contact,is_travel_booker_contact,is_traveller_contact,is_vip_traveller_contact' %}
                            <div class="mb-3 form-check">
                                {{ field }}
                                <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                            {% else %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                <div class="form-text text-muted">{{ field.help_text }}</div>
                                {% endif %}
                                {% if field.errors %}
                                <div class="alert alert-danger">
                                    {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-green-inverse btn-lg">Add Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postload_js %}
<script src="{% static 'js/crm_script.js' %}"></script>
{% endblock %}