{% extends "base.html" %}
{% load static %}
{% load custom_log_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'activity_log/css/activity_style.css' %}">
{% endblock %}

{% block content %}
<section id="log-meeting" class="bg-gray-200">
    <div class="container top-padding roboto">
        <div class="row justify-content-center py-5">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Log Meeting for {{ company.company_name }}</h2>
                        <form method="post" action="#" id="logMeetingForm">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                {% if field.name != 'attendees_input' %}
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% if field.name in 'outcome location duration' %}
                                {{ field|add_class:"form-select" }}
                                {% else %}
                                {{ field|add_class:"form-control" }}
                                {% endif %}
                                <div class="form-text text-muted">{{ field.help_text }}</div>
                                {% if field.errors %}
                                <div class="alert alert-danger">
                                    {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            {% endfor %}

                            <div class="mb-3">
                                <label for="id_attendees_input_display" class="form-label">Attendees</label>
                                <input type="text" id="id_attendees_input_display" class="form-control">
                                {{ form.attendees_input }}
                                <!-- Hidden field -->
                                <div class="form-text text-muted">Select contacts from company and users from agency
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-get-started btn-lg" id="submitButton">Save
                                    Meeting</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Add the logMeetingData object here -->
<script>
    var logMeetingData = {
        searchAttendeesUrl: "{% url 'activity_log:search_attendees' %}",
        companyPk: "{{ company.pk }}"
    };
</script>

<!-- Include CKEditor JS -->
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<!-- External JS file for log meeting form (with vanilla JS) -->
<script src="{% static 'activity_log/js/activity_log_script.js' %}"></script>
{% endblock %}