{% extends "base.html" %}
{% block content %}
<section class="bg-gray-200">
    <div class="container top-padding roboto">
        <div class="row justify-content-center py-5">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Subscription Inactive</h2>
                        <div class="text-center">
                            <p class="mb-3">Your agency's subscription is currently inactive.</p>
                            <p>Please contact your administrator for assistance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}